@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap');

* {
    font-size: 100%;
    font-family: 'Poppins', sans-serif;
    color: #ecf0f1;
}

html{
    scroll-behavior: smooth;
}

body {
	height: 100%;
    background-color: #000000;
    background-image: url(./assets/bg.svg);
    background-size:100% 100%;
    -o-background-size: 100% 100%;
    background-attachment: fixed;
    -webkit-background-size: 100% 100%;
    background-size:cover;
	  width: 100%;
    overflow-x: hidden;
    transition: 0.2s;
}

#scroll-percentage{
    transition: 0.5s;
}


  #ms-menu{
    transform: translateX(-100%)scale(0.1);
    transition: 0.2s;
    position:fixed;
    z-index:3;
    border-radius: 10%;
    background-color: rgba(0, 0, 0, 0.927);
  }


  .menu-item{
    font-size: 4rem;
    cursor: pointer;
    font-weight: 600;
    transition: 0.5s;
  }


  @media screen and (max-width: 992px) {
    .menu-item{
      font-size: 2rem;
      cursor: pointer;
      font-weight: 600;
      transition: 0.5s;
    }
  }


  .menu-item:hover{
    transform: translateX(15px);
    color: #008cff;
    filter: drop-shadow(1px 1px 12px black);
  }


  .themeColorText{
    color: #008cff;
  }

  .themeColorBg{
    background-color: #008cff;
  }

  .services-card{
    background-color: rgba(0, 0, 0, 0.098);
  }

  #resume-viewer{
    transform: translateX(-100%)scale(0.1);
    transition: 0.2s;
    position:fixed;
    z-index:3;
    border-radius: 10%;
    background-color: rgba(0, 0, 0, 0.927);
  }